.menu {
    position: absolute;
    left: 0;
    top: 0;
    height: calc(100% - 55px);
    min-width: 60px;
    background-color: #f8f8f9;
    transition: width 2s;
}

.menu-hamburger {
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--dark-color);
    cursor: pointer;
}

.menu.open {
    z-index: 2;
    width: 250px;
    transition: width 2s;
}

.open .menu-hamburger {
    justify-content: space-between;
    padding-left: 15px;
}

.menu__item {
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.open .menu__item {
    justify-content: flex-start;
    padding-left: 15px;
}

.open .menu__item span {
    margin-left: 20px;
}